body {
    background-color: rgba(204, 146, 20, 0.384);
}

/*header {
    background-color: green;
}*/

/*h4 {
    background-color: green;
}*/

.title {
    font-size: 3em;
    color: crimson;
}

#principal {
    font-size: 4.5em;
}

#mano {
    font-size: 2em;
}

.logo {
    width: 200px;
}

#titulos {
    border: 0.2em solid black;
    /*viewport whidth 65% del tamaño de la pantalla*/
    width: 65vw;
    margin: auto;
    padding: 5em;
}

.cards {
    border: 2px solid black;
    width: fit-content;
    padding: 0px 2em 1em 2em;
    border-radius: 10%;
    transition: 1s;
}

.cards:hover {
    background-color: mediumvioletred ;
}



